<html lang="en">
<head>
  <title>Demo site</title>
  <meta name="viewport" content="width=device-width">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;900&display=swap" rel="stylesheet">
  <link href="/css/main.css" rel="stylesheet">
</head>
<body>
  <header>
    <h1>Demo site</h1>
    <nav>
      <a href='/'>Home</a>
      <a href='/about/'>About</a>
      <a href='/contact/'>Contact</a>
    </nav>
  </header>
  <main>
    {{content}}
  </main>
  <footer>
    Created by Makzan. CC0 License.
  </footer>
</body>
</html>
